{{#if color.item}}	
	{{#each color.item}}		
		<div class="item">
			<div class="stripe" style="background-color: #{{colors.[0]}};">
				<p>#{{colors.[0]}}</p>
			</div>
			<div class="stripe" style="background-color: #{{colors.[1]}};">
				<p>#{{colors.[1]}}</p>
			</div>
			<div class="stripe" style="background-color: #{{#if colors.[2]}}{{colors.[2]}}{{else}}{{colors.[0]}}{{/if}};">
				<p>#{{#if colors.[2]}}{{colors.[2]}}{{else}}{{colors.[0]}}{{/if}}</p>
			</div>
			<div class="stripe" style="background-color: #{{#if colors.[3]}}{{colors.[3]}}{{else}}{{colors.[0]}} {{/if}};">
				<p>#{{#if colors.[3]}}{{colors.[3]}}{{else}}{{colors.[0]}}{{/if}}</p>
			</div>
			<div class="stripe" style="background-color: #{{#if colors.[4]}}{{colors.[4]}}{{else}}{{colors.[1]}} {{/if}};">
				<p>#{{#if colors.[4]}}{{colors.[4]}}{{else}}{{colors.[1]}}{{/if}}</p>
			</div>			
			<div class="bg" style="background-image: url({{buildImageUrl ../../foto.photos.photo @index}})" ></div>
			<p class="txt">{{title}}</p>
			<a class="close" href="javascript:;">X</a>
		</div>		
	{{/each}}
{{else}}
	<h1>No Results... </h1>
	<h2>Lets try other word!</h2>
{{/if}}